@page
@model Code.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
@section Scripts {
<script>
    console.log("Home Page");
</script>
}

<h2>Home</h2>

@foreach (var grade in Model.Grades)
{
    <h2>@grade.Name.English</h2>
    <h3>@grade.Name.Korean</h3>

    @if (grade.Patterns != null)
    {
        @foreach (var pattern in grade.Patterns)
        {
            <h4>@pattern.Name.English</h4>
            <h5>@pattern.Name.Korean</h5>
            <h6>@pattern.MoveCount</h6>
        }
    }

    @if (grade.Techniques != null)
    {
        @foreach (var technique in @grade.Techniques)
        {
            <h4>@technique.Name.English</h4>
            <h5>@technique.Name.Korean</h5>
        }
    }
}